@{
    ViewBag.Title = "Inicio | SA";
}

<div class="container text-center center-area">
    <hr />
    <h1>Sebastian Aravena</h1>
    <h2>Desarrollo de Software</h2>
    <hr />
    <div class="buttons-area">
        @Html.ActionLink("Proyectos", "Projects", "Home", new { @class = "btn btn-default btn-lg" })
        @Html.ActionLink("Mas sobre mi", "", "", new { @class = "btn btn-default btn-lg disabled" })
        @Html.ActionLink("Contacto", "Contact", "Home", new { @class = "btn btn-default btn-lg" })
    </div>

</div>

